@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Suppliers Management</h1>
    <hr>
    <h4>Conhecimentos técnicos utilizados</h4>
    <ul id="list">
        <li>Estrutura de um projeto C# MVC</li>
        <li>EnityFramework, conexão com o banco de dados</li>
        <li>LINQ</li>
        <li>Injeção de Dependência</li>
        <li>Template Engine</li>
    </ul>
</div>
