html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#list {
    list-style:none;
}
.navbar {
    background: linear-gradient(to left, #7E1FFF 0%, #39007D 100%);
}

.thead {
    background: linear-gradient(to left, #7E1FFF 0%, #39007D 100%);
}